<h1><%= @restaurant.name %></h1>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @restaurant.address %>
        </td>
        <td>
          <%= @restaurant.category %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Reviews</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Content</th>
        <th scope="col">Rating(1-5)</th>
      </tr>
    </thead>
    <% @reviews.each do |review| %>

    <tbody>
      <tr>
        <td>
          <%= review.content %>
        </td>
        <td>
          <%= review.rating %>
        </td>
      </tr>
    </tbody>
    <% end %>

  </table>

</div>

<div>
  <%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-default" %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

</div>
